*{
    margin: 0px;
    padding: 0%;


}
body{
    height: 1500px;
    margin-left: 2%;
}
header{
    width: 100%;
    height: 22%;    
    margin-bottom:20px ;
    line-height: 50px;
}
.cabeza{   
    margin-right:1% ;
    width: 48%;
    height: 100%;
    background-color: orange;
    color: red;
    border: 1px solid darkslategray;
    float: left;

    
}
#sect1{
    margin-bottom: 20px;
    width: 97%;
    height: 50%;
    background-color: olivedrab;
    color: red;
    border: 1px solid darkslategray;


}

#sect2{

    height: 30%;
    margin-bottom: 20px; 
}
.cuerpo{
    margin-right: 1%;
    width: 31.5%;
    height: 100%;
    background-color: blue;
    color: red;
    border: 1px solid darkslategray;
    float: left;

}
.piso{
    margin-right: 1%;
    width: 23.3%;
    height: 100px;
    background-color: gray;
    color: red;
    border: 1px solid darkslategray;
    float: left;

}


@media(max-width: 768px){
    header{
        width: 98%;
        height: 20%;    
        margin-bottom:20px;
    }

    .cabeza{   

        width: 100%;
        height: 50%;
        background-color: orange;
        color: red;
        border: 1px solid darkslategray;
        float: left;
        margin-bottom:3px;
        margin-right: 3%;
    
        
    }
    #sect1{
        margin: 0.1%;
        width: 98%;
        height: 30%;
        background-color: olivedrab;
        color: red;
        border: 1px solid darkslategray;

        margin-bottom: 20px;
    
    }
    
    #sect2{
        height: 10%;
        margin-bottom: 20px;
    }
#pie{        height: 10%;
    margin-bottom: 20px;

}
    .piso{
        margin-bottom:   2px;
        margin-right:   1%;
        width: 48%;
        height: 100%;
        background-color: gray;
        color: red;
        border: 1px solid darkslategray;
        float: left;
    
    }
}
@media(max-width: 320px){
    #sect1{

        height: 20%;

    
    }

    #pie{

        height: 30%;
        margin-bottom: 20px; 
    }
    .cuerpo{
        float: none;
        height: 30%;
        margin-bottom:   5px;
    width: 100%;
    }
    .piso{
        margin-bottom:   1%;
        margin-right:   1%;
        width: 98%;

    
    }
}


